<?xml version="1.0" encoding="utf-8"?>
<phpunit
  colors="true"
  bootstrap="bootstrap.php">
  <testsuite name="Sample">
    <directory>tests</directory>
  </testsuite>
  <php>
      <const name="DB_DSN" value="mysql:host=localhost;dbname=test" />
      <const name="DB_USER" value="arakaki" />
      <const name="DB_PASSWORD" value="arakaki" />
  </php>
</phpunit>
